[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
beautifulsoup4 = "*"
flake8 = "*"
coverage = "*"
pytest = "*"
flaky = "*"
nodeenv = "*"

[packages]
boto3 = "*"
flask = "*"
flask-cors = "*"
flask-login = "*"
flask-sockets = "*"
flask-wtf = "*"
gevent = "*"
ldap3 = "*"
llvmlite = "*"
lz4 = "*"
numpy = "*"
psutil = "*"
pytz = "*"
pyyaml = "*"
redis = "*"
requests = "*"
websockets = "*"
nodeenv = "*"
nativepython = {editable = true,path = "."}
typed_python = {git = "https://github.com/APrioriInvestments/typed_python.git",ref = "b118d0de45dfe89836afb0af45a1b23d081261fa"}
gevent-websocket = "*"

[requires]
python_version = "3.6"
