[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
beautifulsoup4 = "*"
flake8 = "*"
coverage = "*"
pytest = "*"
flaky = "*"
nodeenv = "*"
pre-commit = "*"

[packages]
boto3 = "*"
flask = "*"
flask-cors = "*"
flask-login = "*"
flask-sockets = "*"
flask-wtf = "*"
gevent = "*"
ldap3 = "*"
llvmlite = "*"
lz4 = "*"
numpy = "*"
psutil = "*"
pytz = "*"
pyyaml = "*"
redis = "*"
requests = "*"
websockets = "*"
nodeenv = "*"
typed_python = {editable = true,path = "./../typed_python"}
gevent-websocket = "*"

[requires]
python_version = "3.6"
