[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
coverage = "*"
flake8 = "*"
flaky = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-lazy-fixture = "*"
selenium = "*"

[packages]
beautifulsoup4 = "*"
boto3 = "*"
flask = ">=2.0, <3.0"
flask-cors = "*"
flask-login = "*"
flask-sockets = {git = "https://github.com/APrioriInvestments/flask-sockets.git",ref = "2b767f456d166c02d8507f88a65926335a045789"}

flask-wtf = "*"
gevent = "*"
gevent-websocket = "*"
ldap3 = "*"
nodeenv = "*"
numpy = "<1.20"
psutil = "*"
pytz = "*"
pyyaml = "*"
redis = "*"
requests = "*"
sortedcontainers = "*"
wtforms = "*"
llvmlite = "*"
typed_python = {editable=true, path = "./../typed_python"}
object_database = {editable=true, path = "."}
safety = "*"
