beautifulsoup4
boto3
flaky
flask >= 2.0, < 3.0
flask-cors
flask-login
flask-sockets @ git+https://github.com/APrioriInvestments/flask-sockets.git@2b767f456d166c02d8507f88a65926335a045789#egg=flask-sockets
flask-wtf
gevent
gevent-websocket
ldap3
nodeenv
numpy < 1.20
psutil
pytest-lazy-fixture
pytz
pyyaml
redis
requests
selenium
sortedcontainers
typed_python >= 0.2.4
wtforms
