boto3
flask
flask-cors
flask-login
flask-sockets
flask-wtf
gevent
gevent-websocket
ldap3
nodeenv
pyyaml
redis
requests
typed_python @ git+https://github.com/APrioriInvestments/typed_python.git@b118d0de45dfe89836afb0af45a1b23d081261fa#egg=typed-python
wtforms
