-i https://pypi.org/simple

beautifulsoup4
boto3
flask >= 2.0, < 2.3
flask-cors
flask-login
flask-sockets @ git+https://github.com/APrioriInvestments/flask-sockets.git@2b767f456d166c02d8507f88a65926335a045789#egg=flask-sockets
flask-wtf
gevent
gevent-websocket
hiredis
ldap3
nodeenv
numpy
psutil
pytz
pyyaml
redis
requests
sortedcontainers
typed_python @ git+https://github.com/APrioriInvestments/typed_python@0703b35b4815fed7dc92aac3d462f6d009a64d53#egg=typed_python
wtforms
