html {
    height: 100% !important;
}

body {
    height: 100% !important;
    display: flex;
    flex-direction: row;
    margin: 0px;
}

div#main {
    display: flex;
    justify-content: center;
    min-width: 70%;
    border-right: solid 2px;
    align-items: center;
}

div#cell-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30%;
}

.node {
    cursor: pointer;
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node text {
    font: 10px sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

body {
    overflow: hidden;
}
