html {
    height: 100% !important;
}

body {
    height: 100% !important;
    display: flex;
    flex-direction: row;
    margin: 0px;
    background-color: black;
}

div#main {
    display: flex;
    justify-content: center;
    min-width: 70%;
    border-right: solid 2px;
    align-items: center;
}

div#cell-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30%;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    color: white;
    border-left: 1px ridge rgb(135, 210, 173);
}

div#cell-info span#node-args {
    border-bottom: 1px solid rgb(135, 210, 173);
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(135, 210, 173);
}

div#cell-info > table {
    border: 1px dotted;
}

div#cell-info > table td {
    border: 1px solid rgb(135, 210, 173);
}

div#cell-info > table input {
    border: 1px solid rgb(135, 210, 173);
}

.node {
    cursor: pointer;
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node text {
    font: 10px sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

body {
    overflow: hidden;
}
