/**
 * Application Wide Stylesheet for ActiveWebService
 **/

/* do we need this? */
.large.tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    width: 350px;
}


body {
    font-family: "Source Sans Pro";
    font-size: .9rem;
    margin: 0;
}

td {
    white-space: nowrap
}
th {
    white-space: nowrap
}

/* Page Root  and other global-type elements*/
.root-cell {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.page-view-body-holder {
    width:100%;
    position:relative;
    flex:1;
    overflow: hidden;
}

.page-view-header {
    width:100%;
    overflow: hidden;
}

.page-view-footer {
    width:100%;
    overflow: hidden;
}

.table-sm {
    padding: 0;
    border: 1;
}

.table-sm {
    padding: 0;
    border: 1;
}

/* Clickable and Button
 * =====================================================*/

[data-cell-type="Clickable"] {
    display: inline-block;
}

[data-cell-type="Clickable"]:hover {
    cursor: pointer;
}

/* Traceback
 * =====================================================*/

.traceback {
    white-space: pre;
}

/* SplitView
 * =====================================================*/
.split-view {
    display: flex;
}

.split-view-column {
    flex-direction: column;
}

.split-view-row {
    flex-direction: row;
}

.split-view-area {
    overflow: hidden;
}

.cell-scrollable-parent {
    overflow: hidden;

    /* give the parent a relative position so that we can
    give an absolute offset to the child.*/
    position: relative;
}

.cell-scrollable-body-both {
    overflow: auto;

    /* place this body on top of the parent, but don't allow
    child size to bleed out */
    position: absolute;
    top: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
}

.cell-scrollable-body-horizontal {
    /* place this body on top of the parent, but don't allow
    child size to bleed out */
    position: absolute;
    top: 0;
    bottom: 0;

    overflow-x: auto;
    overflow-y: hidden;

    width: 100%;
    height: 100%;
}

.cell-scrollable-body-vertical {

    /* place this body on top of the parent, but don't allow
    child size to bleed out */
    position: absolute;
    top: 0;
    bottom: 0;

    overflow-y: auto;
    overflow-x: hidden;

    width: 100%;
    height: 100%;
}

/* ResizablePanel and Friends
 * =====================================================*/
.resizable-panel {
    display: flex;
}

.resizable-panel.vertical-panel {
    flex-direction: column
}

.resizable-panel-holder {
    position: relative;
    top: 0;
    left: 0;
}

.resizable-panel-item {
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.resizable-panel-handle {
    padding: 0;
    flex: 0 0 auto;
}

.horizontal-panel > .resizable-panel-handle::before {
    height: 100%;
    width: 4px;
}

.vertical-panel > .resizable-panel-handle::before {
    width: 100%;
    height: 4px;
}

.resizable-panel-handle::before {
    content: "";
    display: block;
    margin: 0 auto;
    background: black;
}

.vertical-panel > .resizable-panel-handle {
    cursor: ns-resize;
    height: 20px;
}

.horizontal-panel > .resizable-panel-handle {
    cursor: ew-resize;
    width: 20px;
}

/* In the Split.js implementation, we can
 * style the created 'gutters' (resizers)
 */
.resizable-panel .gutter {
    background-color: transparent;
    transition: background-color 150ms linear;
}

.resizable-panel .gutter:hover {
    background-color: rgba(200, 200, 200, 0.5);
    transition background-color 150ms linear;
}

.vertical-panel > .gutter:hover {
    cursor: ns-resize;
}

.horizontal-panel > .gutter:hover {
    cursor: ew-resize;
}

/* Grid and Related Table
 * ============================================================*/
.cell-grid {
    position: relative;
    width: 100%;
    table-layout: fixed;
 }

.cell-grid td {
    width: auto;
    overflow-wrap: break-word;
    white-space: pre-wrap;
 }

/* Expands
 * ============================================================*/
 .expands {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
 }

 .expands-button-area {
    width: auto;
 }

 .expands-content-area {
    flex: 1;
 }

/* Modals (bypasses Bootstrap implementation)
* =============================================================*/

.modal-cell {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.0);
    transition: background-color 0.1s linear;
    z-index: -1;
    opacity: 0.0;
}

.modal-dialog {
    max-width: 800px;
}

.modal-cell-show {
    display: block;
    opacity: 1.0;
    background-color: rgba(50, 50, 50, 0.5);
    transition: background-color 0.2s linear;
    z-index: 1050;
}

/* Highlight
 * ============================================================== */
.cell-highlighted {
    background-color: lightgray;
}

/* Panel
 * ============================================================== */

.cell-panel {
    overflow: hidden;
}

.cell-panel-border {
    border: 1px solid rgba(150, 150, 150, 0.3);
    padding: 10px;
    border-radius: 3px;
}

/* Code
 * ===============================================================*/

.code {
    white-space: pre-wrap;
}

/* CodeEditor
 * ===============================================================*/
.code-editor {
    position: relative;
    width: 100%;
    height: 100%;
}

.code-editor-inner {
    height: 100%;
}

.code-editor-scroll-region {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    overflow: auto;

    margin: auto;
    border: 1px solid lightgray;
}

.highlight-seethrough {
    background-color: #00000000!important;
}

.highlight-red {
    background-color: #ffbbbb!important;
}

.highlight-blue {
    background-color: #bbbbff!important;
}

.highlight-green {
    background-color: #bbffbb!important;
}


/* HeaderBar
 * =====================================================*/
 .header-bar {
    display: flex;
    align-items: center;
 }

/* CollapsiblePanel
 *======================================================*/
.collapsible-panel {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.collapsible-panel-panel {
    flex: 1;
}

.collapsible-panel-content {
    flex: 5;
}

.btn-xs {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 6px;
    padding-right: 6px;
}



/*************** CARD *************/

.cells-card {
  display: inline-flex;
  display: -ms-flexbox;
  overflow: hidden;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.cells-card.fill-space-horizontal {
    display: flex;
}

.p-0 {
    padding: 0!important
}
.p-1 {
    padding: .25rem!important
}
.p-2 {
    padding: .50rem!important
}
.p-3 {
    padding: .75rem!important
}
.p-4 {
    padding: 1.0rem!important
}
.p-5 {
    padding: 1.25rem!important
}

.horizontal-padding {
    padding: 0 .1rem;
}

.cells-card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.cells-card-header {
  width: 100%;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/* dropdowns */

.cell-dropdown-item {
    padding: .25rem 1.25rem;
    display: block;
    width: 100%;
}

.cell-dropdown-backdrop {
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
}

.cell-dropdown-backdrop:focus {
    border: 0;
    outline-width: 0
}

.cell-dropdown-item:hover {
    background-color: rgba(0,0,0,.15);
}

.cell-open-popover {
    min-width: 200px;
    overflow: hidden;
    margin: 0;
    background-color: rgba(255,255,255,1);
    border:1px solid rgba(0,0,0,.15);
    max-height: 50vh;
    max-width: 50vw;
    overflow: auto;
    border-radius: .25rem;
}

.cell-popover-title {
    border-bottom: 1px solid #ebebeb;
    background-color: #f7f7f7;
    padding: 6px;
    font-size: 1rem;
}

.cell-popover-arrow-holder {
    height: 10px;
    width: 20px;
    left: 20px;
    top: 0;
    position: relative;
}

.cell-popover-up-arrow {
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(0,0,0,.15);
}

.cell-popover-down-arrow {
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(0,0,0,.15);
}

.cell-popover-up-arrow-small {
    width: 0;
    height: 0;
    top: 1px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f7f7f7;
}

.cell-popover-down-arrow-small {
    width: 0;
    height: 0;
    top: 1px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f7f7f7;
}

.cell-popover-detail {
    padding: 6px;
}

.cell-open-dropdown-menu {
    min-width: 200px;
    padding: .5rem 0;
    margin: .25rem 0 0;
    background-color: rgba(255,255,255,1);
    border:1px solid rgba(0,0,0,.15);
    max-height: 50vh;
    max-width: 50vw;
    overflow: auto;
    border-radius: .25rem;
}

.cell-open-dropdown-drawer {
    min-width: 200px;
    padding: .5rem;
    margin: .25rem 0 0;
    background-color: rgba(255,255,255,1);
    border:1px solid rgba(0,0,0,.15);
    max-height: 50vh;
    max-width: 50vw;
    overflow: auto;
    border-radius: .25rem;
}

.header-bar-span {
    padding-left: 1rem!important
}

/* Generic and Utility Classes
 *======================================================*/
.overflow {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.child-margin-1 > * {
    margin: .25rem!important;
}

.child-margin-2 > * {
    margin: .5rem!important;
}


.child-margin-3 > * {
    margin: 1rem!important;
}


.child-margin-4 > * {
    margin: 1.5rem!important;
}


.child-margin-5 > * {
    margin: 3rem!important;
}

.child-margin-5 > * {
    margin: 3rem!important;
}

.custom-tooltip .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: lightgray;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 100;
}

.custom-tooltip:hover .tooltiptext{
    visibility: visible;
}

/* Loading Indicators
 *--------------------------------------------------------*/
.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
