/**
 * Application Wide Stylesheet for ActiveWebService
 **/

/* Global Styling Variables */
:root {
    --page-view-header-height: 75px;
}

/* Page Root  and other global-type elements*/
#page_root {
    height: 100vh;
}

.subscribed {
    width: 100%;
    height: 100%;
}

/* Clickable and Button
 * (Note that most of Button styling is from Bootstrap first)
 * =====================================================*/
[data-cell-type="Clickable"] {
    display: inline-block;
}

[data-cell-type="Clickable"]:hover {
    cursor: pointer;
}

/* Traceback
 * =====================================================*/

.traceback {
    white-space: pre;
}

/* SplitView
 * =====================================================*/
.split-view {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.split-view-column {
    flex-direction: column;
}

.split-view-row {
    flex-direction: row;
}

/* ResizablePanel and Friends
 * =====================================================*/
.resizable-panel {
    display: flex;
    width: 100%;
    height: 100%;
}

.resizable-panel.vertical-panel {
    flex-direction: column
}

.resizable-panel-item {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /*flex: 1 1 auto;*/
}

.resizable-panel-handle {
    padding: 0;
    flex: 0 0 auto;
}

.sequence-vertical > .resizable-panel {
    display: flex;
}

.horizontal-panel > .resizable-panel-handle::before {
    height: 100%;
    width: 4px;
}

.vertical-panel > .resizable-panel-handle::before {
    width: 100%;
    height: 4px;
}

.resizable-panel-handle::before {
    content: "";
    display: block;
    margin: 0 auto;
    background: black;
}

.vertical-panel > .resizable-panel-handle {
    cursor: ns-resize;
    height: 20px;
}

.horizontal-panel > .resizable-panel-handle {
    cursor: ew-resize;
    width: 20px;
}

/* In the Split.js implementation, we can
 * style the created 'gutters' (resizers)
 */
.resizable-panel .gutter {
    background-color: transparent;
    transition: background-color 150ms linear;
}

.resizable-panel .gutter:hover {
    background-color: rgba(200, 200, 200, 0.5);
    transition background-color 150ms linear;
}

.vertical-panel > .gutter:hover {
    cursor: ns-resize;
}

.horizontal-panel > .gutter:hover {
    cursor: ew-resize;
}


/* Sheet
 * ============================================================*/
ap-sheet {
    display: block;
    position: relative;
    --border-width: 1px;
    --border-style: solid;
}

ap-sheet:focus {
    outline: none;
}

ap-sheet th,
ap-sheet .sheet-content-display {
    pointer-events: none;
}

ap-sheet table {
    border-collapse: separate;
    border-spacing: 0px;
    table-layout: fixed;
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: rgba(150, 150, 150, 0.6);
}

ap-sheet:focus table {
    border-color: rgba(150, 150, 150, 0.8);
}

ap-sheet > table:hover {
    cursor: cell;
}

ap-sheet th {
    background-color: rgba(238, 238, 238);
    text-align: center;
}

ap-sheet th:last-child {
    position: relative;
}

ap-sheet .sheet-content-display {
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: left;
    font-weight: bold;
    max-height: 200px;
    padding-left: 5px;
    padding-right: 5px;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    background-color: rgba(230, 230, 230);
    border-bottom: 1px solid rgba(50, 50, 50, 0.5);
    border-left: 1px solid rgba(50, 50, 50, 0.5);
    border-right: 1px solid rgba(50, 50, 50, 0.5);
    z-index: 1;
}

ap-sheet td {
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: rgba(173,216,230, 0.6);
    position: relative;
    box-sizing: border-box;
    text-align: center;
    font-size: .8rem;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.sheet-cell-inner {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: transparent;
}

.sheet-cell-inner-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}

.sheet-cell-inner,
.sheet-cell-inner-content {
    pointer-events: none;
}

ap-sheet td.in-locked-row,
ap-sheet td.in-locked-column {
    background-color: lightgrey;
}

ap-sheet .selector-cursor.in-selection > .sheet-cell-inner {
    background-color: #c1daf5;
    border-style: var(--border-style);
    border-width: var(--border-width);
    border-color: #568eca;
}

ap-sheet .selector-cursor:not(.in-selection) > .sheet-cell-inner {
    border-style: var(--border-style);
    border-width: var(--border-width);
    border-color: transparent;
}

ap-sheet .selector-cursor:not(.in-selection) {
    border: solid 1px #568eca;
    background-color: #c1daf5;
}

ap-sheet td.in-selection {
    background-color: aliceblue;
}

ap-sheet td.selection-top-border {
    border-top-width: var(--border-width);
    border-top-style: var(--border-style);
    border-top-color: red;
}

ap-sheet td.selection-left-border {
    border-left-width: var(--border-width);
    border-left-style: var(--border-style);
    border-left-color: red;
}

ap-sheet td.selection-right-border {
    border-right-width: var(--border-width);
    border-right-style: var(--border-style);
    border-right-color: red;
}

ap-sheet td.selection-bottom-border {
    border-bottom-width: var(--border-width);
    border-bottom-style: var(--border-style);
    border-bottom-color: red;
}

/* Grid and Related Table
 * ============================================================*/
.cell-grid {
    position: relative;
    width: 100%;
    table-layout: fixed;
 }

.cell-grid td {
    width: auto;
    overflow-wrap: break-word;
    white-space: pre-wrap;
 }

/* Expands
 * ============================================================*/
 .expands,
 .sequence-vertical > .expands {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
 }

 .expands-button-area {
    width: auto;
 }

 .expands-content-area {
    flex: 1;
 }

/* Modals (bypasses Bootstrap implementation)
* =============================================================*/

.modal-cell {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.0);
    transition: background-color 0.1s linear;
    z-index: -1;
    opacity: 0.0;
}

.modal-dialog {
    max-width: 800px;
}

.modal-cell-show {
    display: block;
    opacity: 1.0;
    background-color: rgba(50, 50, 50, 0.5);
    transition: background-color 0.2s linear;
    z-index: 1050;
}

/* Sequence and HorizontalSequence
 *================================================================*/
.sequence {
    display: inline-block;
    width: 100%;
}

.sequence-vertical {
    flex-direction: column;
    align-items: flex-start;
}

:not(.flex-parent) > .sequence.flex-parent,
:not(.flex-child) > .sequence.flex-parent {
    height: 100%;
}

.sequence-horizontal > .sequence {
    width: auto;
}

.sequence-vertical > * {
    display: block;
}

.sequence-horizontal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
}

.sequence-horizontal.overflow {
    /* We handle this for each type of sequence
     * separately.
     */
    overflow-y: hidden;
    overflow-x: auto;
}



/* Flex Parent and Flex Child (Sequences etc)
 *================================================================*/
.seq-flex-wrap {
    flex-wrap: wrap;
}

.sequence-vertical.flex-parent {
    display: flex;
    flex-direction: column;
}

.sequence-horizontal.flex-parent {
    display: flex;
    flex-direction: row;
}

.sequence-vertical > .flex-child {
    overflow-y: auto;
    flex: 1;
}

.sequence-horizontal > .flex-child {
    overflow-x: auto;
    flex: 1;
}

.sequence-horizontal > .flex-child.seq-flex-wrap {
    flex-wrap: nowrap;
}

.shrinkwrapped {
    flex-grow: 0;
}

/* Sequence and HorizontalSequence Special Cases
 * ===============================================================*/
.sequence-vertical > [data-cell-type="Clickable"] {
    display: block;
}

:not(.sequence) > .sequence-horizontal {
    position: relative;
    height: 100%;
}

.sequence-vertical > .split-view {
    display: flex;
}

/* Highlight
 * ============================================================== */
.cell-highlighted {
    background-color: lightgray;
}

/* Panel
 * ============================================================== */
.cell-panel {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.cell-panel-border {
    border: 1px solid rgba(150, 150, 150, 0.3);
    padding: 10px;
    border-radius: 3px;
}

.cell-panel.flex-child,
.flex-parent > .cell-panel {
    width: auto;
    height: auto;
}

.cell-panel > .sequence-vertical.flex-parent {
    height: 100%;
    overflow-y: auto;
}

.sequence-horizontal > .cell-panel {
    height: auto;
    width: auto;
}

.sequence-horizontal.flex-parent > .cell.panel {
    height: 100%;
    width: auto;
}

.sequence-vertical.flex-parent > .cell-panel {
    height: auto;
    width: 100%;
}

/* Code
 * ===============================================================*/

.code {
    white-space: pre-wrap;
}

/* CodeEditor
 * ===============================================================*/
.code-editor {
    position: relative;
    width: 100%;
    height: 100%;
}

.highlight-seethrough {
    background-color: #00000000!important;
}

.highlight-red {
    background-color: #ffbbbb!important;
}

.highlight-blue {
    background-color: #bbbbff!important;
}

.highlight-green {
    background-color: #bbffbb!important;
}

.code-editor-inner {
    width: 100%;
    min-height: 100%;
    margin: auto;
    border: 1px solid lightgray;
}

.sequence-horizontal:not(.flex-parent) > .code-editor {
    min-width: 300px;
    flex: 1;
}

.sequence-vertical > .code-editor.flex-child {
    width: 100%;
}

/* PageView
 *================================================================*/
.page-view {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.page-view > header {
    height: var(--page-view-header-height);
    display: block;
    width: 100%;
    position: relative;
}

.page-view > main {
    height: calc(100% - var(--page-view-header-height));
}

.page-view-header {

}

.page-view-footer {

}

/* HeaderBar
 * =====================================================*/
 .header-bar {
    display: flex;
    align-items: baseline;
    height: 100%;
    align-items: center;
 }

/* CollapsiblePanel
 *======================================================*/
.collapsible-panel {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.collapsible-panel-panel {
    flex: 1;
}

.collapsible-panel-content {
    flex: 5;
}

/* ContextualDisplay
 *======================================================*/
:not(.sequence) > .contextual-display {
    width: 100%;
    height: 100%;
}
/* Bootstrap and related
 *======================================================*/
.card {
    width: 100%;
}

/* Generic and Utility Classes
 *======================================================*/
.overflow {
    overflow: auto;
}

.child-margin-1 > * {
    margin: .25rem!important;
}

.child-margin-2 > * {
    margin: .5rem!important;
}


.child-margin-3 > * {
    margin: 1rem!important;
}


.child-margin-4 > * {
    margin: 1.5rem!important;
}


.child-margin-5 > * {
    margin: 3rem!important;
}

.child-margin-5 > * {
    margin: 3rem!important;
}

.custom-tooltip .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: lightgray;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.custom-tooltip:hover .tooltiptext{
    visibility: visible;
}

/* Loading Indicators
 *--------------------------------------------------------*/
.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
